<ion-view view-title="Home">
     <ion-content class="has-header">   
    <div class="card">
        <ion-slide-box active-slide="myActiveSlide" auto-play="true" does-continue="true">
         <ion-slide>
            <div class="box red">
                 <div class="item item-avatar">
                    <img src="img/cdm.jpg">
                    <h2>CDM</h2>
                    <p>Classic Disco Mix</p>
                </div>
                <div class="item item-image">
                    <img src="img/cdm4.png" style="width: 100%; min-height:100px;">
                </div>
            </div>
        </ion-slide>
         <ion-slide>
            <div class="box red">
                <div class="box red">
                 <div class="item item-avatar">
                    <img src="img/cdm.jpg">
                    <h2>CDM</h2>
                    <p>Classic Disco Mix</p>
                </div>
                <div class="item item-image">
                    <img src="img/cdm3.jpg" style="width: 100%; min-height:100px;">
                </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="box red">
                  <div class="item item-avatar">
                    <img src="img/cdm.jpg">
                    <h2>CDM</h2>
                    <p>Classic Disco Mix</p>
                </div>
                <div class="item item-image">
                    <img src="img/cdm2.jpg" style="width: 100%; min-height:100px;">
                </div>
                <div class="spacer" style="height: 60px;"></div>
            </div>
        </ion-slide>
        
         <ion-slide>
            <div class="box red">
                  <div class="item item-avatar">
                    <img src="img/cdm.jpg">
                    <h2>CDM</h2>
                    <p>Classic Disco Mix</p>
                </div>
                <div class="item item-image">
                    <img src="img/cdm5.jpg" style="width: 100%; min-height:100px;">
                </div>
            </div>
        </ion-slide>
         <ion-slide>
            <div class="box red">
                  <div class="item item-avatar">
                    <img src="img/cdm.jpg">
                    <h2>CDM</h2>
                    <p>Classic Disco Mix</p>
                </div>
                <div class="item item-image">
                    <img src="img/cdm6.jpg" style="width: 100%; min-height:100px;">
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
    </div>
     </ion-content>   
</ion-view>