.scroll-content{
  /* background-color: #e6e5eb;*/

    /* background-color: #e6e5eb; */
    background-image: url("../img/backgroundblur.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.card, .item-avatar{
  background-color: rgba(250, 250, 250, 0.21) !important;
  color:#ddd;
}

.item-avatar h2, .item-avatar p{
color:#ddd;
}

.slider-pager-page, .ion-record{
  color: #ddd;
}

.item, .item h2, .item p, .item-content{
  /*background-color: rgba(255, 255, 255, 0.37);*/
  color: #ddd !important;
  background-color: rgba(255, 255, 255, 0.02) !important;
  border-color: rgba(221, 221, 221, 0.26) !important;
}

.photoacct{
	padding: 30px;
    border: 1px solid #ddd;
}

.loginback{
  background-image: url("../img/background.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.loginbtn{
  background-color: rgba(239, 71, 58, 0.75) !important;
}

#login-list7, #login-list7 .item{
background-color: rgba(240, 255, 255, 0.4) !important;
    border-color: rgba(221, 221, 221, 0.17) !important;
}

#login-list7 input{
  background-color: rgba(240, 255, 255, 0) !important;
}


.cdmplayer .button, .cdmplayer .button:hover, .cdmplayer.spinner{
  color:#ddd;
}


.video-js.vjs-default-skin .vjs-big-play-button { display: none; }

.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  display: block;
  
}

.vjs-fade-out {
  display: block;
}

.vjs-default-skin.vjs-paused .vjs-control-bar
{
display: block;
    
}

.vjs-volume-menu-button{
  display: none;
}
.video-js .vjs-progress-control, 
.video-js .vjs-fullscreen-control {
 /* display: none !important; */
}
.video-js .vjs-fullscreen-control{
  display: none;
}

.video-js .vjs-time-control{
  /*display: none; */
}

.video-js {
      background-color: rgba(0, 0, 0, 0) !important;
}

.video-js .vjs-control-bar{
background-color: rgba(17, 17, 17, 0) !important;
}
